{{> head}}
<body>
    {{> navbar}}
    <div class="container">
        {{{body}}}
    </div>
    {{> footer}}
</body>

</html>

{{!-- // в       {{{body}}} подключаетсья  шаблоны которые лежат в папке views, в зависимости от рута. --}}