<h1>About</h1>

<a href="/"> main page </a>
<a href="/menu"> menu</a>
<br>
<br>

<form action="/about" method="POST">

    <div class="">
        <input id="title" type="text" name="title" class="validate">
          <input id="title" type="text" name="id" class="validate">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="введите название" data-success="right"></span>
    </div>
    <div class="">
        <input id="price" type="number" name="price" class="validate">
        <label for="price">Цена</label>
        <span class="helper-text" data-error="введите цену" data-success="right"></span>
    </div>
    <div class="">
        <input id="img" type="text" name="img" class="validate">
        <label for="img"> url img</label>
        <span class="helper-text" data-error="введите урл" data-success="right"></span>
    </div>
    <button class="btn btp-primary"> send</button>

</form>