<h1>Check2</h1> 


{{!-- 

<form action="/menu/edit" method="POST">

    <div class="">
        <input id="title" type="text" name="title" class="validate" value={{result.title}}>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="введите название" data-success="right"></span>
    </div>
    <div class="">
        <input id="price" type="number" name="price" class="validate" value={{result.price}}>
        <label for="price">Цена</label>
        <span class="helper-text" data-error="введите цену" ></span>
    </div>
    <div class="">
        <input id="img" type="text" name="img" class="validate" value={{result.img}}>
        <label for="img"> url img</label>
        <span class="helper-text" data-error="введите урл" data-success="right"></span>
    </div>
    <button class="btn btp-primary"> Редактировать</button>

</form> --}}